<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/home/style.css">
    <title>Banco Capital ITBA</title>
</head>

<body>
    <nav>
        <div class="navbar-left">
            <a href="/perfil" class="navbar-link">perfil</a>
            <a href="/prestamos" class="navbar-link">prestamos</a>
            <a href="/tarjetas" class="navbar-link">tarjetas</a>
        </div>
        <div class="navbar-title">BCIB</div>
        <div class="navbar-right">
            <a href="/login" class="navbar-link">logIn</a>
            <a href="/registro" class="navbar-link">hacete cliente</a>
        </div>
    </nav>
        
    </header>
    <main>
        <h2>Bienvenidos al Banco Capital ITBA</h2>
        <img src="../../static/home/1.webp" alt="Imagen del Banco">
        <p>Pagina principal para el Banco Capital ITBA</p>
    </main>
    <footer>
    </footer>
</body>
</html>