{% load static %}
<nav>
    <div class="navbar-left">
        <a href="/perfil" class="navbar-link">Perfil</a>
        <a href="/prestamos" class="navbar-link">Prestamos</a>
        <a href="/tarjetas" class="navbar-link">Tarjetas</a>
    </div>
    <div class="navbar-title">BCIB</div>
    <div class="navbar-right">
        {% if user.is_authenticated %}
            Bienvenido, {{ user.cliente.nombre }}
        {% endif %}
        <a href="/login" class="navbar-link">LogIn</a>
        <a href="/registro" class="navbar-link">Hacete cliente</a>
    </div>
</nav>