<nav>
    <div class="navbar-left">
        <a href="/perfil" class="navbar-link">Perfil</a>
        <a href="/prestamos" class="navbar-link">Préstamos</a>
        <a href="/tarjetas" class="navbar-link">Tarjetas</a>
        <a href="/personal_data" class="navbar-link">Datos personales</a>
    </div>
    <div class="navbar-title">BCIB</div>
    <div class="navbar-right">
        {% if user.is_authenticated %}
            Bienvenido, {{ user.cliente.nombre }}
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% endif %}

    </div>
</nav>
