<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'perfil/styles.css' %}">
    <title>Perfil Bancario</title>
</head>
<body>
    
        {% include "./navbar.html" %}    
    
    <main>
        
    <h1>Perfil Bancario</h1>
    
    <section class="profile-section">
            <h2>Perfil</h2>
            <p class="p">Nombre: maxi</p>
            <p class="p">cvu: 123456789</p>
            <p class="p">alias: maxi.adres.10</p>
        </section>
        <section class="balance-section">
            <h2>Saldo</h2>
            <p class="balance">$ 5,000.00</p>
        </section>
    </main>
</body>
</html>
