<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
    <script src="{% static 'register/script.js' %}"></script>
    <title>Registro de Usuario</title>
</head>
<body>
    <header>
        {% include "./navbar.html" %}
    </header>

    <main>
        <form action="" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>

            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required>

            <label for="num-telefono">Número de Teléfono:</label>
            <input type="tel" id="num-telefono" name="num-telefono" required>

            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="pais-residencia">País de Residencia:</label>
            <input type="text" id="pais-residencia" name="pais-residencia" required>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <button type="submit" onClick="registro()">Registrarse</button>
        </form>
    </main>
</body>
</html>
