body {
    margin: 0;
    font-family: var(--text);
    padding: 0;
}

:root {
    --negro: #00100B;
    --rojo: #C42021;
    --gris: #7C8483;
    --blanco: #F0F3F5;

    --title: 'Oswald', sans-serif;
    --text: 'Open Sans', sans-serif;
    font-size: 16px;
}



#nav {
    background-color: var(--negro);
    color: var(--rojo);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar-title {
    font-family: var(--title);
    font-size: 24px;
}

.navbar-link {
    color: var(--blanco);
    text-decoration: none;
    font-size: 18px;
    margin: 6px;
}

.navbar-button {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Media Query para hacer responsive el navbar */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-left,
    .navbar-right {
        flex-direction: column;
        gap: 10px;
    }
}

/* Estilos del contenedor principal */
.grid {
    display: grid;
}


.place-items-center {
    place-items: center;
}


/* Estilos del título principal */
.mt-5 {
    margin-top: 1.25rem;
}


.mb-10 {
    margin-bottom: 2.5rem;
}


.text-3xl {
    font-size: 1.875rem;
}


.text-center {
    text-align: center;
}


/* Estilos del contenedor principal */
.w-1 {
    width: 50%;
}


.bg-neutral-400 {
    background-color: #CCCCCC;
}


.rounded-xl {  
    border-radius: 0.75rem;
}


/* Estilos de la sección de entrada de datos */
.input-item {
    display: grid;
    place-content: center;
}


.mb-2 {
    margin-bottom: 0.5rem;
}


.text-lg {
    font-size: 1.125rem;
}


.mb-5 {
    margin-bottom: 1.25rem;
}


.mb-1 {
    margin-bottom: 0.25rem;
}


/* Estilos del botón 'Calcular' */
.calcular {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}


.calcular:hover {
    background-color: #45a049;
}


/* Estilos de las secciones de resultados y tasas */
.text-xl {
    font-size: 1.25rem;
}


.amount-result,
.month-tax,
.tax {
    margin: 0.625rem 0;
}


#verificacion {
    /* Estilos del botón 'Realizar operación' */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}


#verificacion:hover {
    background-color: #0b7dda;
}



/* Estilos de la tabla de tasas */
.taxTable {
    width: 100%;
    border-collapse: collapse;
}


.taxTable td, .taxTable th {
    border: 1px solid #ddd;
    padding: 0.625rem;
    text-align: left;
}


.taxTable th {
    background-color: #4CAF50;
    color: white;
}

