{% load static %}
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'tarjetas/style.css' %}">
    <title>Perfil Bancario</title>
</head>
<body>
    
    <header>
        {% include "./navbar.html" %}
    </header>

    <main>
        <section class="cards-section">
            <h2>Mis Tarjetas</h2>
            <div class="card credit-card">
                <h3>Tarjeta de Débito</h3>
                <div class="card-number">**** **** **** 1234</div>
                <div class="card-details">
                    <p>Fecha de expiración: 12/24</p>
                    <p>Código de seguridad: 200</p>
                </div>
            </div>
            <div class="card credit-card">
                <h3>Tarjeta de Crédito</h3>
                <div class="card-number">**** **** **** 5678</div>
                <div class="card-details">
                    <p>Fecha de expiración: 05/23</p>
                    <p>Código de seguridad: 202</p>
                </div>
            </div>
        </section>
        <section class="balance-section">
            <h2>Saldo</h2>
            <p class="balance">USD 5,000.00</p>
        </section>
    </main>
</body>
</html>
 -->
 <!DOCTYPE html>
 <html lang="en">
     <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{% static 'tarjetas/style.css' %}">
     <title>Perfil Bancario</title>
 </head>
 <body>
     
     <header>
         <nav>
             <div class="navbar-left">
                 <a href="/perfil" class="navbar-link">perfil</a>
                 <a href="/prestamos" class="navbar-link">prestamos</a>
                 <a href="/tarjetas" class="navbar-link">tarjetas</a>
                 <a href="/personal_data" class="navbar-link">datos personales</a>
             </div>
             <div class="navbar-title">BCIB</div>
             <div class="navbar-right">
                 <a href="/" class="navbar-link">logOut</a>
             </div>
         </nav>
     </header>
 
     <main>
         <section class="cards-section">
             <h2>Mis Tarjetas</h2>
             {% for tarjeta in tarjetas %}
             <div class="card">
                 <h3>{{ tarjeta.tipo }}</h3>
                 <p>Número de tarjeta: {{ tarjeta.numero }}</p>
                 <p>Fecha de expiración: {{ tarjeta.fecha_expiracion }}</p>
                 <p>Código de seguridad: {{ tarjeta.codigo_seguridad }}</p>
             </div>
             {% endfor %}
         </section>
         <section class="balance-section">
             <h2>Saldo</h2>
             <p class="balance">USD 5,000.00</p>
         </section>
     </main>
 </body>
 </html>
 