<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'personal_data/style.css' %}">
    <title>Datos del Cliente</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="navbar-left">
                <a href="/perfil" class="navbar-link">perfil</a>
                <a href="/prestamos" class="navbar-link">prestamos</a>
                <a href="/tarjetas" class="navbar-link">tarjetas</a>
                <a href="/personal_data" class="navbar-link">datos personales</a>
            </div>
            <div class="navbar-title">BCIB</div>
            <div class="navbar-right">
                <a href="/" class="navbar-link">logOut</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="customer-info">
            <label for="nombre">Nombre:</label>
            <p id="nombre">pepito</p>

            <label for="apellido">Apellido:</label>
            <p id="apellido">pepi</p>

            <label for="DNI">DNI:</label>
            <p id="DNI">42-255-061</p>

            <label for="num-cuenta">Número de Cuenta:</label>
            <p id="num-cuenta">123456789</p>

            <label for="num-telefono">Número de Teléfono:</label>
            <p id="num-telefono">555-555-5555</p>

            <label for="email">Correo Electrónico:</label>
            <p id="email">p.pepito@example.com</p>

            <label for="pais-residencia">País de Residencia:</label>
            <p id="pais-residencia">Argentina</p>

            <label for="contrasena">Contraseña:</label>
            <p id="contrasena">*********</p>
        </section>
    </main>
</body>
</html>
